{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ game.title }}</title>
</head>
<body>
    <h1>{{ game.title }}</h1>
    <img src="{{ game.icon.url }}" alt="{{ game.title }}" style="width: 128px; height: 128px;">

    {% if user.is_authenticated %}
        <p><strong>Время игры:</strong> {{ playtime_hours }}</p>
        <p><strong>Среднее время игры за последние 2 недели:</strong> {{ game_stats.playtime_2weeks }}</p>
    {% else %}
        <p>Сначала авторизуйтесь, чтобы увидеть информацию о времени игры.</p>
    {% endif %}
</body>
</html>
{% endblock %}
